
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 98%;
  border-collapse: collapse;
  margin: 20px 15px 0 15px;
  padding: 0px 10px 0px 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #3498db;
  color: #fff;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

/* Styles for the search bar */
input {
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  margin: 10px 15px 5px 15px ;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

select {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Styles for the footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 97%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5; /* Optional background color */
  color: #333; /* Text color */
  font-size: 14px;
}




